body {
  font-size: 1.2em;
  background-color: rgb(58, 58, 58);
  color: white;
}


div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}
