<div>
  <h1>&nbsp;</h1>
  <h1>&nbsp;</h1>
  <h2 style="text-align: center">About Me</h2>

  <div class="card">
    <img src="./image/profile.png" alt="Kasidit" height="500" width="350" />
  </div>
  <div class="card-2">
    <h1>Kasidit Sang-Utai</h1>
    <p class="title">Developer</p>
    <p>Computer Engineering @ King Mongkut University of Technology Thonburi</p>
    <div style="margin: 24px 0">
      <a href="https://www.facebook.com/kasidive.sangutai/" target="_blank" class="btn">
        <img class="mx-auto d-block" src="./image/fb.svg" height="40" alt=""></img>
      </a>
      <a href="https://www.instagram.com/ksd_dive/" target="_blank" class="btn">
        <img class="mx-auto d-block" src="./image/ig.svg" height="40" alt=""></img>
      </a>
      <a href="https://www.linkedin.com/in/kasidit-sang-utai-a70231200/" target="_blank" class="btn">
        <img class="mx-auto d-block" src="./image/lki.svg" height="40" alt=""></img>
      </a>
      <a href="https://github.com/damorz" target="_blank" class="btn">
        <img class="mx-auto d-block" src="./image/gh.svg" height="40" alt=""></img>
      </a>
    </div>
  </div>
</div>

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  .card-2 {
    
    max-width: 500px;
    margin: auto;
    padding: 50px;
    text-align: center;
  }

  .title {
    color: grey;
    font-size: 18px;
  }
</style>
