<div class="container">
  <div
    style="margin-top: 25%"
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="text-center">
      <h1 style="font-weight: bold">Welcome to Our Restaurant</h1>
      <h4 style="color: rgb(255, 183, 27)">"5 stars" restaurant</h4>
      <button style="height: 60px; margin-top: 5%;" type="button" class="btn btn-light" ui-sref="categories">
        <span style="padding: 0px 60px; color: black; font-weight: bold"
          >CATEGORIES</span
        >
      </button>
    </div>
  </div>
</div>
